<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ac.mappers.GenomeMapper">
    <select id="selectAllData" resultType="PatientVO">
        select distinct sinfo.dcc_project_code as code,	 wgs.patientID as sample
        from sample_info as sinfo join wgs on(wgs.patientID = sinfo.donor_unique_id);
    </select>
    
	<select id="selectPhenotype" resultType="PatientVO" parameterType="string">
        select distinct sinfo.dcc_project_code as code,	 wgs.patientID as sample
        from sample_info as sinfo join wgs on(wgs.patientID = sinfo.donor_unique_id) 
        where sinfo.dcc_project_code like #{phenotype};
    </select>
    
</mapper>

