<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ac.mappers.GenomeMapper">
    <select id="selectAllData" resultType="DisGeNetVO">
        SELECT * FROM bio_version1.`DiseaseAssociatedWithGene`;
    </select>
</mapper>